<h2>SEARCH COURT</h2>
<form action="/facility" method="GET">
<label>COURT NAME</label>
<input type="text" name="FacName" value="<%= searchOptions.FacName %> ">
<button type="submit">SEARCH</button>
</form>
<br>
<div>
<% facilities.forEach(facility => { %> 
    <a href="/facility/<%= facility.id %> ">
    <img height="150" width="100" src="<%= facility.coverImagePath %> ">
    </a>
    <a href = "/facility/<%= facility.id %>/edit ">EDIT</a>
    <%- include('../partials/deleteForms', 
            { url: `/facility/${facility.id}`}) %> 
<% }) %> 
</div>