<h2 class="page-header">SEARCH COURT</h2>
<form action="/facility" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>COURT NAME</label>
            <input type="text" name="FacName" value="<%= searchOptions.FacName %> ">
        </div>
    </div>
        <div class="form-row form-row-end">
            <button class="btn btn-primary" type="submit">SEARCH</button>
        </div>
</form>
<br>

<% facilities.forEach(facility => { %> 
<div><a href="/facility/<%= facility.id %> "></div>
<div class="btn-row">
    <img height="250" width="200" src="<%= facility.coverImagePath %>">
    <a class="btn btn-primary" href= "/facility/<%= facility.id %>/edit ">EDIT</a>
    <%- include('../partials/deleteForms', 
            { url: `/facility/${facility.id}`}) %> 
</div>
<% }) %> 
